.edit-pokemon-form {
	margin-top: 150px;
}

.edit-pokemon-form h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: center;
}

.img-container {
	text-align: center;
}

.edit-pokemon-form app-pokemon-form form {
	margin: 20px auto 40px;
}
