<div class="container">
	<app-search-pokemon></app-search-pokemon>

	<div>
		<ul class="pok-grid">
			<li *ngFor="let pokemon of pokemonList">
				<div
					(click)="goToPokemon(pokemon)"
					class="pok-card"
					pkmnBorderCard="blue"
				>
					<div class="pok-card-image">
						<img [src]="pokemon.picture" alt="pokémon" />
					</div>
					<div class="pok-card-content">
						<h3>{{ pokemon.name }}</h3>
						<p>
							<small>{{ pokemon.created | date }}</small>
						</p>
						<div class="pok-card-types">
							<span
								*ngFor="let type of pokemon.types"
								class="{{ type | pokemonTypeColor }}"
								>{{ type }}</span
							>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<a class="btn-floating" routerLink="/pokemon/add">+</a>
