.top-bar {
	display: grid;
	place-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	border: 2px solid black;
	border-top: 0;
	border-inline: 0;
	height: 60px;
	z-index: 10;
}

.logo {
	font-size: 26px;
	font-weight: bold;
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.top-bar {
		height: 75px;
	}

	.logo {
		font-size: 18px;
	}
}
