<div *ngIf="pokemon" class="container">
	<div class="card">
		<h1 class="header center">{{ pokemon.name }}</h1>

		<div class="card-image">
			<img [src]="pokemon.picture" />
		</div>

		<div class="card-stacked">
			<div class="card-content">
				<span>Nom</span>
				<strong>{{ pokemon.name }}</strong>
			</div>
			<div class="card-content">
				<span>Points de vie</span>
				<strong>{{ pokemon.hp }}</strong>
			</div>
			<div class="card-content">
				<span>Dégâts</span>
				<strong>{{ pokemon.cp }}</strong>
			</div>
			<div class="card-content">
				<span>Types</span>
				<div>
					<span
						*ngFor="let type of pokemon.types"
						class="{{ type | pokemonTypeColor }}"
						>{{ type }}</span
					>
				</div>
			</div>
			<div class="card-content">
				<span>Date de création</span>
				<em>{{ pokemon.created | date : "dd/MM/yyyy" }}</em>
			</div>
		</div>

		<div class="card-action">
			<button class="btn" (click)="goToPokemonList()">Retour</button>
			<button class="btn" (click)="goToEditPokemon(pokemon)">Editer</button>
			<button class="btn" (click)="deletePokemon(pokemon)">Supprimer</button>
		</div>
	</div>
</div>
<h4 *ngIf="!pokemon" class="center"><app-loader></app-loader></h4>
